body {
	background-color: #1E1E20;
}

h1 {
	background-color: #374140;
	color:	hsla(6, 73%, 50%, 1);
	font-family: "Arial";
	border: 1px solid #FFF;
}

h2 {
	background-color: rgba(0, 153, 148, 1);
	color:	#FCFFF5;
	font-family: "Arial";
	border: 1px solid #181818;
}

a {
	background-color: #2A2C2B;
	color:	hsla(6, 73%, 50%, 1);
	font-family: "Arial";
	border: 1px solid #181818;
}

i {
	background-color: #2A2C2B;
	color:	#FFFFFF;
	font-family: "Arial";
}

b {
	color:	hsla(6, 73%, 50%, 1);
	font-family: "Arial";
	border: 1px solid #39F;
}

p {
	background-color: #2A2C2B;
	color:	#D9CB9E;
	font-family: "Arial";
	font-size: 18px;
	border: 1px solid #181818;
}

ul li {
	background-color: rgba(55, 65, 64, 1);
	color:	#FFFFFF;
	font-family: "Arial";
	font-size: 14px;
	border: 1px solid #282828;
}