header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}
body{
	color: white;
    background-image: url(../images/city_bg.jpg);
    background-repeat: repeat;
    background-position: 0% 0%;
    font: normal lighter 1.00em/1.50 Arial, Helvetica, sans-serif ;
    text-align: justify;
}
nav{
    background-color: #181818;
    width: 900px;
	height: 150px;
    border-radius: 0.9em;
    margin: 1% auto;
}
h1, h2, h3{
    width: 40%;
    margin: 1%;
    padding: 1%;
	color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.250em;
    text-shadow: 3px 3px 3px darkred;
}
div.form.search{
    width: 25%;
    float: right;
    clear: both;
}
div#nav-links li{
    list-style-type: none;
    display: inline-block;
    margin: 1% 2% auto;
    margin-bottom: 1%;
}
div#nav-links ul li a:link{
    text-decoration: none;
}
div#nav-links{
    width: 90%;
    text-align: center;
}
a:link{
    color: #fff;
    text-decoration: none;
}
a.top:link{
    color: purple;
}
a:visited{
    color: red;
}
a.top:visited{
    color: cyan;
}
a:hover{
    color: white;
}
a.top:hover{
    color: red;
}
a:active{
    color: #fff;
}
a.top:active{
    color: #fff;
}
#content-wrapper{
    background-color: #101010;
    width: 80%;
    margin: 1% auto;
    padding: 2%;
    border-radius: 0.9em;
    box-shadow: 0.313em 0.313em 0.625em red;
}
p{
	color: #fff;
}
aside{
	color: #ffffff;
    width: 20%;
    float: left;
    padding: 1%;
    margin: 1%;
    text-align: left;
}
aside header h3{
    width: 80%;
    text-align: center;
}
section#temp table{
    width: 80%;
    text-align: center;
    text-transform: lowercase;
    border-collapse: collapse;
    margin: 1% auto;
}
section#temp table th, td{
    border: 1px solid #ffffff;
    padding: 1%;
    font-size: 1.00em;
}
td{
	color: red;
    background-color: #000000;
}
td#high, td#low{
	color: red;
    background-color: #000000;
}
tr.row:hover td{
    background-color: #181818;
}
div#gallery section a{
    display: inline-block;
    margin: 1% 2% auto;
}
div#gallery section a img{
    border: 5px solid #ffffff;
}
section form{
    width: 500px;
    font-size: 1.00em;
    text-align: right;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.8;
}
section form div{
    border: 1px solid #ffffff;
    padding: 1%;
}
input:hover{
    background-color: #ffffff;
}
input:focus{
    background-color: #ffffff;
}
footer{
    width: 900px;
    height: 1%;
    margin: 2% auto;
    padding: .25%;
    text-align: center;
    background-color: #181818;
    border-radius: 0.9em;
    font-size: 20px;
}
#pictures{
    font-size: 18px;
}
