body {
	font-family: Arial,Verdana, sans-serif;
	padding: 5px;
	background: rgb(166,164,166) url("../images/bg.gif") 
		repeat top right;
}

nav {
	text-align: center;
	display:inline-block;
	margin: -18px -10px 1px -10px;
}
#nav li {
	display: inline;
	text-align: center;
	margin: 10px;
	
	}


a:link {
	color:#FF0000; 
	text-decoration:none;
}

a:visited {
	color:#00FF00; 
	text-decoration:none;
}

a:hover {
	color:#FFFFFF; 
	text-decoration:underline;
}

a:active {
	color:#0000FF; 
	text-decoration:underline;
}

p.link {
	background-color:#F3FFE2;
}

p.first {
	text-align:center;
	width:80%;
	height:135px;
	margin: 1.7em auto 1.7em auto;
}

p.list {
	text-align:right;
	width:700px;
	height:20px;
	margin: 1.7em auto 1.7em auto;
}

#wrapper {
	background-color:#181818;
	margin: 1.0em auto 1.5em auto;
	width:850px;
	height:2000px;
	border:2px solid;
	border-radius:25px;
	box-shadow: 5px 5px 5px #080808;
	display:block;
	background: linear-gradient(to bottom, #181818 0%,#101010 2%,#282828 45%,#101010 77%);
}

h1 {
	background-color: #374140;
	color:	hsla(6, 73%, 50%, 1);
	border: 1px solid #FFF;
	text-shadow: 2px 2px #000000;
	line-height: 12px;
	letter-spacing: 2px;
	text-align: center;
	font: normal small-caps bold 30pt 'Pathway Gothic One', sans-serif;
	background: url("../images/icon.png") no-repeat scroll left;

}

h2 {
	background-color: rgba(0, 153, 148, 1);
	color:	#FCFFF5;
	font: normal small-caps normal 18pt 'Josefin Sans', sans-serif;
	border: 1px solid #181818;
	text-shadow: 1px 1px #000000;
	padding: 2%;
	margin: 1em;
}

a {
	background-color: #2A2C2B;
	color:	hsla(6, 73%, 50%, 1);
	font: normal small-caps bold 18pt 'Josefin Sans', sans-serif;
	border: 1px solid #181818;
}

i {
	background-color: #2A2C2B;
	color:	#FFFFFF;
	font-family: "Arial";
}

b {
	color:	hsla(6, 73%, 50%, 1);
	font-family: "Arial";
	border: 1px solid #39F;
}

p {
	background-color: #2A2C2B;
	color:	#D9CB9E;
	font-family: "Arial";
	font-size: 18px;
	border: 1px solid #181818;
}

ul li {
	background-color: rgba(55, 65, 64, 1);
	color:	#FFFFFF;
	font-family: "Arial";
	font-size: 14px;
	border: 1px solid #282828;
	list-style-type: square;
	background: url("../images/icon.png") no-repeat scroll right;
}

.framework {
	float: left;
	width: 52%;
	padding: .5%;
	margin: .5%;
}
.wikipedia {
	float: right;
	width:42%;
	padding: .5%;
	margin: .5%;
}
.firstpara{
	clear: both;
}
header {
	display:inline;
	padding:1%;
	margin:1%;
	width:100%;
	float:left;
	margin-left:20%;
	padding: 25px;
	margin-bottom:50px;
	text-align:center;
}
header img{
	float:left;
	width:20%;
}
table {
	width:70%;
	padding:1%;
	border-style:dotted;
	border-spacing:0.1em;
	text-transform: uppercase;
	font-size:1.0em;
	border: 1px;
	text-align:center;
	color:#F2E1AC;
}
.top {
background-color:#000000;	
}
tr {
background-color:#181818;
}
tr:hover {
background-color:#686868;
}
form {
	color: white;
	border: 1px solid #187BA2;
	width: 98%;
	margin-top: 5px;
	padding: 5px;
	}

label {
	color: white;
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 200px;
	height: 20px;
}	
button {
	color: white;
	background-color: rgba(24,123,162,0.15);
	border: 1px solid #000000;
}

input {
	border: 0px;
	border-bottom: 1px solid #000000;
}
textarea {
	border: 1px solid #000000;
}

textarea:focus, input:focus {
	border: 2px solid hsl(321,50%,72%);
}

textarea:hover, input:hover {
	background-color: cyan;
}
footer {
	padding:1em;
	clear:both;
}

