body {
	background-color: #1E1E20;
}

a:link {color:#FF0000; text-decoration:none;}
a:visited {color:#00FF00; text-decoration:none;}
a:hover {color:#FFFFFF; text-decoration:underline;}
a:active {color:#0000FF; text-decoration:underline;}


h1 {
	background-color: #374140;
	color:	hsla(6, 73%, 50%, 1);
	border: 1px solid #FFF;
	text-shadow: 2px 2px #000000;
	line-height: 12px;
	letter-spacing: 2px;
	text-align: center;
	font: normal small-caps bold 30pt 'Pathway Gothic One', sans-serif;

}

h2 {
	background-color: rgba(0, 153, 148, 1);
	color:	#FCFFF5;
	font: normal small-caps normal 18pt 'Josefin Sans', sans-serif;
	border: 1px solid #181818;
	text-shadow: 1px 1px #000000;
}

a {
	background-color: #2A2C2B;
	color:	hsla(6, 73%, 50%, 1);
	font: normal small-caps bold 18pt 'Josefin Sans', sans-serif;
	border: 1px solid #181818;
}

i {
	background-color: #2A2C2B;
	color:	#FFFFFF;
	font-family: "Arial";
}

b {
	color:	hsla(6, 73%, 50%, 1);
	font-family: "Arial";
	border: 1px solid #39F;
}

p {
	background-color: #2A2C2B;
	color:	#D9CB9E;
	font-family: "Arial";
	font-size: 18px;
	border: 1px solid #181818;
}

ul li {
	background-color: rgba(55, 65, 64, 1);
	color:	#FFFFFF;
	font-family: "Arial";
	font-size: 14px;
	border: 1px solid #282828;
}